/* FONTS.CSS 
 * Importing custom fonts.
 ================================*/
 
 /*------------------------------------*\
          Open Sans 
  \*------------------------------------*/
/*
   *  For texts (regular, italic and bold)
   * 
   *************************************/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/*------------------------------------*\
        Maragsa 
\*------------------------------------*/
/*
 *  For Graphic Elements
 * 
 *************************************/
@font-face {
    font-family: "Maragsa";
    src: url("/fonts/Maragsa-Display.woff2") format("woff2"),
        url("/fonts/Maragsa-Display.woff") format("woff"),
        url("/fonts/Maragsâ-Display.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}