/* global.css
 * Global styles
 ================================*/
/*------------------------------------*\
        IMPORTS
\*------------------------------------*/
@import url("./normalize.css");
@import url("./local.reset.css");
@import url("./typography.css");
@import url("./color.css");


body {
        background-color: var(--light-background);
}


/*------------------------------------*\
        COLOR CLASSES
\*------------------------------------*/
.red {
        color: var(--cg-red);
}

.green {
        color: var(--middle-green);
}

.yellow {
        color: var(--max-yellow-red);
}