---
import BaseLayout from "../layout/BaseLayout.astro";
const pageTitle = "Accueil"
---

<BaseLayout pageTitle={pageTitle}>
    <div class="h-screen flex justify-center items-center text-brown-600 font-maragsa text-9xl bg-slate-400">Section One</div>
    <div class=" h-screen flex justify-center items-center text-brown-600 font-maragsa text-9xl bg-red-400">Section Two</div>
    <div class=" h-screen flex justify-center items-center text-brown-600 font-maragsa text-9xl bg-green-400">Section Three</div>
    <div class=" h-screen flex justify-center items-center text-brown-600 font-maragsa text-9xl bg-yellow-400">Section Four</div>
</BaseLayout>