---
import BurgerMenu from "./BurgerMenu.svelte";
import DisplaceLink from "./DisplaceLink.svelte";
---

<nav class="fixed w-full top-0 left-0 flex justify-between px-8 md:px-12 z-10">
    <DisplaceLink
        class="text-7xl text-red-500 after:text-brown-500"
        after_content="Ho!me"
        url="/">Ho!</DisplaceLink
    >


    <BurgerMenu client:load />
</nav>
